*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    position: relative;
    overflow: hidden;
}
#page{
    height: 100vh;
    width: 100vw;
    background-color: black;
}
#page1{
    height: 100vh;
    width: 100vw;
    background-color: rgb(188, 28, 28);
}
#page2{
    height: 100vh;
    width: 100vw;
    background-color: rgb(133, 87, 234);
}
#page3{
    height: 100vh;
    width: 100vw;
    background-color: rgb(17, 151, 64);
}
canvas{
    height: 100vh;
    width: 100vw;
}