#container{
    height: 200px;
    width: 400px;
    background-color: yellow;
}
#box1{
    height: 50px;
    width: 100px;
    background-color: navy;
}
#box2{
    height: 50px;
    width: 100px;
    background-color: navy;
}
#box3{
    height: 50px;
    width: 200px;
    background-color: navy;
}
#box1{
    height: 50px;
    width: 200px;
    background-color: navy;
}