*{
    margin: 0;
    padding: 0;
}
h1{
    background-color: orange;
}
H2{
    background-color:aquamarine;
}
.ol1{
    background-color: orange;
    border: 3px solid black;
    padding: 20px 40px 35px 30px;
    margin-left: 35px;
}
h3{
    background-color: pink;
    position: fixed;
    top:0px;
    left: 50px;
}