*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    font-size: 60px;
}
.one{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.on{
    font-size:2em ;
}
#two{
    font-size: 20px;
}
li{
 font-size: 1em;
}